


@font-face {
  font-family: 'Fires';
  src: url('/public/fonts/.ttf') format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'FireTorch'; 
  src: url('/public/fonts/FireTorch.ttf') format('truetype');
  text-transform: uppercase;
  font-size: larger;
}

@font-face {
  font-family: 'Fires';
  src: url('/public/fonts/FIRES\ PERSONAL\ USE.ttf') format('truetype');
  color: rgb(255, 165, 0);
}